<section
  class="mt-10 max-w-6xl flex flex-wrap flex-col items-center justify-center gap-10 mx-auto px-4 py-2"
  id="about"
>
  <h2 class="font-bold text-2xl md:text-4xl text-(--text)">
    Everything You Need to Ship Smarter
  </h2>
  <div class="flex flex-col md:flex-row gap-10 w-full">
    <div
      class="pt-12 px-8 pb-8 border border-gray-300 rounded-lg shadow-md group"
    >
      <span class="">
        <i
          data-lucide="map-pin"
          class="text-(--blue) [&_circle]:stroke-(--primary) size-9"
        ></i>
      </span>
      <div class="mt-5 space-y-2">
        <p class="font-medium">Shipping all over Egypt</p>
        <p class="text-[16px]">
          CheetaGo offers a full coverage delivery experience with +20
          distribution centers all over Egypt and counting.
        </p>
      </div>
      <div
        class="mt-5 flex items-center gap-2 group-hover:gap-3 transition-all duration-300"
      >
        <a href="#" class="text-blue-600 text-[17px]">Start Shipping </a>
        <i data-lucide="arrow-right" class="size-4 text-blue-600 mt-1"></i>
      </div>
    </div>
    <div
      class="pt-12 px-8 pb-8 border border-gray-300 rounded-lg shadow-md group"
    >
      <span class="">
        <i
          data-lucide="shield-check"
          class="text-(--primary) [&>*:nth-child(1)]:stroke-(--blue) size-9"
        ></i>
      </span>
      <div class="mt-5 space-y-2">
        <p class="font-medium">Premium fulfillment service</p>
        <p class="text-[16px]">
          Store, sell, ship! It takes only 3 steps with CheetaGo's fulfillment
          solution to reach your customers and boost your sales.
        </p>
      </div>
      <div
        class="mt-5 flex items-center gap-2 group-hover:gap-3 transition-all duration-300"
      >
        <a href="#" class="text-blue-600 text-[17px]">Get Efficient</a>
        <i data-lucide="arrow-right" class="size-4 text-blue-600 mt-1"></i>
      </div>
    </div>
    <div
      class="pt-12 px-8 pb-8 border border-gray-300 rounded-lg shadow-md group"
    >
      <span class="">
        <i
          data-lucide="circle-dollar-sign"
          class="text-(--primary) [&>*:nth-child(1)]:stroke-(--blue) size-9"
        ></i>
      </span>
      <div class="mt-5 space-y-2">
        <p class="font-medium">Cut Costs</p>
        <p class="text-[16px]">
          Automated rate shopping finds the best rates across 200+ carriers and
          saves you up to 90% on every shipment.
        </p>
      </div>
      <div
        class="mt-5 flex items-center gap-2 group-hover:gap-3 transition-all duration-300"
      >
        <a href="#" class="text-blue-600 text-[17px]">Start Saving</a>
        <i data-lucide="arrow-right" class="size-4 text-blue-600 mt-1"></i>
      </div>
    </div>
  </div>
</section>
<section
  class="mt-2 flex flex-col items-center justify-center py-12 px-4 font-sans"
>
  <h2 class="font-bold text-2xl md:text-4xl text-(--text)">
    Delivering for customers around Egypt
  </h2>

  <div class="w-full max-w-6xl bg-(--blue) rounded-4xl p-8 md:p-16 mt-10">
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-8 text-center text-white">
      <div class="flex flex-col">
        <span class="text-4xl md:text-6xl font-bold mb-2">1.3M</span>
        <span class="text-sm md:text-base font-medium opacity-90"
          >Customers served</span
        >
      </div>

      <div class="flex flex-col">
        <span class="text-4xl md:text-6xl font-bold mb-2">1.5T</span>
        <span class="text-sm md:text-base font-medium opacity-90"
          >Packages shipped</span
        >
      </div>

      <div class="flex flex-col">
        <span class="text-4xl md:text-6xl font-bold mb-2">195</span>
        <span class="text-sm md:text-base font-medium opacity-90"
          >Countries shipped to</span
        >
      </div>

      <div class="flex flex-col">
        <span class="text-4xl md:text-6xl font-bold mb-2">$5T</span>
        <span class="text-sm md:text-base font-medium opacity-90"
          >Customer revenue</span
        >
      </div>
    </div>
  </div>
</section>
