<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/output.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    {% if title %}
    <title>{{title}} | CheetaGo</title>
    {% else %}
    <title>CheetaGo</title>
    {% endif %}
  </head>
  <body
    class="font-sans h-screen bg-[url('/static/images/stacked-waves-haikei.svg')] bg-no-repeat bg-cover flex justify-center items-center text-(--text)"
  >
    {% block content%} {% endblock content%}

    <script src="https://unpkg.com/lucide@latest"></script>
    <script
      src="{{ url_for('static', filename='js/script.js') }}"
      type="module"
    ></script>
    <script
      src="{{ url_for('static', filename='js/auth.js') }}"
      type="module"
    ></script>
  </body>
</html>
