<footer class="bg-neutral-100 py-4">
  <div
    class="max-w-6xl flex flex-wrap items-center justify-between mx-auto px-4 py-2"
  >
    <a
      href="http://127.0.0.1:5000/"
      class="flex items-center space-x-1 rtl:space-x-reverse"
    >
      <img src="../static/images/logo.png" class="w-16" alt="Flowbite Logo" />
      <span
        class="self-center text-[20px] text-heading font-semibold whitespace-nowrap text-(--blue)"
        >CheetaGo</span
      >
    </a>

    <div
      class="items-center justify-between w-full md:flex md:w-auto"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium rounded-base bg-neutral-secondary-soft md:space-x-8 md:flex-row md:mt-0 md:border-0 md:bg-neutral-primary items-center"
      >
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent text-[18px] hover:text-(--primaryHover) transition duration-300"
            >Shipping</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-heading rounded hover:bg-neutral-tertiary md:hover:bg-transparent md:border-0 md:hover:text-fg-brand md:p-0 md:dark:hover:bg-transparent text-[18px] hover:text-(--primaryHover) transition duration-300"
            >Tracking</a
          >
        </li>
      </ul>
    </div>

    <div>
      <p class="text-sm font-bold">Follow us</p>
      <div class="flex gap-3 mt-2">
        <img
          src="../static/images/youtube.svg"
          class="w-6 cursor-pointer"
          alt="Flowbite Logo"
        />
        <img
          src="../static/images/facebook.svg"
          class="w-6 cursor-pointer"
          alt="Flowbite Logo"
        />
        <img
          src="../static/images/inspire.svg"
          class="w-5 cursor-pointer"
          alt="Flowbite Logo"
        />
        <img
          src="../static/images/instagram.svg"
          class="w-6 cursor-pointer"
          alt="Flowbite Logo"
        />
      </div>
    </div>
  </div>
</footer>
