<div
  class="bg-white rounded-xl border border-gray-200 shadow-sm overflow-hidden"
>
  <!-- table heading -->
  <div class="p-6">
    <div
      class="flex flex-col sm:flex-row gap-4 items-start sm:items-center justify-between"
    >
      <h2 class="text-xl font-semibold text-gray-900">Shipments List</h2>
    </div>
  </div>

  <div class="px-6 pb-6">
    <div class="overflow-x-auto">
      <table class="w-full border-collapse">
        {% include 'dashboard/tableHeader.html' %}
        <!-- shipments elements -->
        {% include 'dashboard/shipmentRow.html' %}
      </table>
    </div>
  </div>
</div>
